extends ./layouts/common.pug
block content
    div.main-frame
        h1.text-center
            span from SG, Earth with love ! 
            img(src="/images/logo.png" style="max-width: 50%;height:auto").rounded
    
        