extends ../layouts/common.pug
block content
    .container
        .row
            each product in products
                .col-xs-9.col-sm-6.col-md-6.col-lg-3
                    .thumbnail
                        img(src=product.image, alt='').img-thumbnail
                        .caption.text-center
                        h3= product.name
                        p= product.description                    
                        p
                            a.btn.btn-primary(href='/cart/add/'+ product.id) Buy Now
                            a.btn.btn-default(href='#') More info

        .row.text-center.align-items-lg-center
            nav(aria-label='Page navigation example')
                ul.pagination
                    li.page-item
                    a.page-link(href='/products/products?page=1' , aria-label='Previous')
                        span(aria-hidden='true') &laquo;
                        span.sr-only Previous
                    li.page-item
                    a.page-link(href='/products/products?page=1') 1
                    li.page-item
                    a.page-link(href='/products/products?page=2') 2
                    li.page-item
                    a.page-link(href='/products/products?page=3') 3
                    li.page-item
                    a.page-link(href='/products/products?page=3', aria-label='Next')
                        span(aria-hidden='true') &raquo;
                        span.sr-only Next